#section4{
    min-height: 100vh;
    background-color: #175d86;
    overflow: hidden;
    transition: all 0.5s;
}
.Tittle{
    font-size: 2.2rem;
    text-align: center;
    padding:100px 0px;
    font-family: var(--font-standard);
    color: #C3E3FD;
    text-transform: capitalize;
    margin: 0;
}
.container_card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.button{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}
#hidden{
    display: none;
}
.button button{
    min-width: 145px;
    font-size: 1.3rem;
    font-family: var(--font-standard), sans-serif;
    border: none;
    background-color: #008bba;
    padding: 20px 30px;
    border-radius: 25px;
    color: white;;
    transition: all 0.4s ease-in-out;
    opacity: 0.9;

}
.button button:hover{
    cursor: pointer;
    opacity: 1;
    
}




  @media screen and (max-width:580px){
   .container_card{
    width: 370px;
    margin: auto;
   }
  }

  