#section3{
    background-color: var(--dark-green);
    min-height: 100vh;
}
.tittle{

    font-size: 1.7rem;
    text-align: center;
    padding:80px 0px;
    font-family: var(--font-standard);
    color: var(--light-green);
    text-transform: capitalize;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}
.container .habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.container .habilidades:hover{
    opacity: 1;
    transform: scale(1.10);
}
#habilidade_ativa{
    background-color: white;
    opacity: 1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.opacity1{
    opacity: 1;
}
.container .habilidades svg{
    position: absolute;
    height: 200px;
    top: -10px;
    right: 54px;
    
} 
.image{
    position: absolute;
    height: 100px;
    top: 30px;
    right: 34px;
}
.text{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.text_little{
    position: relative;
    height: 50px; /* 180px default */
    width: 50vw;
    max-width: 650px;;
    background-color: #d3d3d3;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 180px;
    transition: .2s;
}
.text_little p{
    font-family: var(--font-standard);
    text-align: justify;
    font-size: 0.4em;
    text-indent: 1em;
    line-height: 1.5em;
    margin: auto;
}

.text_little svg{
    position: absolute;
    width: 20px;
    top: -5px;
    right: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
    padding: 2px;
}
.text_little svg:hover{
    opacity: 1;
}
.text_expand{
    height: 160px;
    border: 2px solid rgb(0, 0, 0);
}

.animaction {
    animation-name: animation;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }
  @keyframes animation {
    from{
      opacity: 0;
    
    }
    to{
      opacity: 1;
    }
    }
  

@media screen and (max-width:850px){
    .text_little{
        height: 100px;
    }
    .text_expand{
        overflow-y: hidden;
        height: 300px;
        min-width: 300px;
    }
.text_little p{
    text-align: left;
}
.container {
    gap: 50px;
}
}