:root {
  /* colors */
  --light-green: #cedebd;
  --dark-green: #435334;
  --light: #faf1e4;
  --blue: #0e4361;

  --blue-v:#2196f3;
  --blue-v-light:#6eb8f5;
  --blue-v-medium:#9acef8

  /* fonts  300, 500*/
  --font-logo: "Shrikhand";
  --font-standard: "Roboto";


}

#section2 {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  gap: 120px;
  min-height: 100vh;
  background-color: var(--blue);

}
#section2 .card1 {
  opacity: 0;
  width: 40vw;
  min-width: 400px;

}
.card1 > p {
  text-align: justify;
  font-family: var(--font-standard), sans-serif;
  color: var(--light);
  line-height: 1.5em;
  text-indent: 1em;
}
.card1 > h2 {
  font-family: var(--font-standard), sans-serif;
  color: #c3e3fd;
  text-transform: capitalize;
}
#section2 .card2 a {
  font-family: var(--font-standard), sans-serif;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color:  #090b9ba9;
  padding: 0 35px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  color: white;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;

}
#section2 .card2 a:hover {
  background-color: #090C9B;
  transform: scale(1.02);
}
#section2 .card2{
  opacity: 0;
}

.animaction {
  animation-name: animation;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
@keyframes animation {
  from{
    opacity: 0;
  
  }
  to{
    opacity: 1;
  }
  }

  
  @media screen and (max-width:850px){
    #section2{
      flex-direction: column;
    }
  }

  @media screen and (max-width:550px){
    .card1 p{
      font-size: 0.8em;
    }
    #section2 .card1{
      min-width: 320px;
    }
  }