.container-contact{
    font-family: var(--font-standard), sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #CEDEBD;
    flex-direction: column;
}
label{
    display: block;
    margin:15px 0px;
    color:#435334;
}
.title{
    color: #435334;
    font-size: 1.1rem;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #FAF1E4;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.496);
    min-width: 380px;
}
.form input{
    font-size: 1.05rem;
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;  
    border: 2px solid #CEDEBD;
}
.form input:focus{
    outline: none;
    border: 2px solid #435334;
}
.form textarea{
    font-size: 1.05rem;
    width: 320px;
    padding: 10px 15px;
    border-radius: 5px; 
    border: 2px solid #CEDEBD;
}
.form textarea:focus{
    outline: none;
    border: 2px solid #435334;
}
.form :nth-child(4){
    margin-top: 25px;
    color: #CEDEBD;
    border-radius: 25px;
    background-color:  #435334;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    
}
.form :nth-child(4):hover{
    cursor: pointer;
    transform: scale(1.03);
}
.name, .email, .msg {
    display: flex;
    flex-direction: column;

}
small{
    color: red;
}
@media screen and (max-width:600px) {
    .container-contact{
        padding-top: 80px;
    }
   .title h2{
        max-width: 300px;
    }
}