:root{
    /* colors */
    --light-green:#CEDEBD;
    --dark-green: #435334;
    --light: #FAF1E4;
    --blue: #0e4361;
    /* fonts  300, 500*/
    --font-logo: 'Shrikhand';
    --font-standard: 'Roboto';
}


